
@font-face {
    font-family: 'Pompiere';
    src: url("/assets/ffamily/Pompiere/Pompiere-Regular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= VARIABLES ========== */
:root {
    --primary-clr: #6C467A;
    --primary-clr-alt: #D6C0E3;
    --second-clr: #026D85;
    --second-clr-alt: #027C97;
    --text-clr: #F5FDFF;
    --nav-txt-clr: var(--text-clr);
    --text-clr-bg: #F5FDFF;
    --bg-clr: #2D4253;
    --gray-clr: #F5F8FA;
    --product-bg-clr: #364F63;
    --bx-shadow-clr: #6d477b33;
}

/* ======== White Theme ======== */
.lightmode {
    --primary-clr-alt: #6C467A;
    --second-clr-alt: #027C97;
    --text-clr: #2D4253;
    --nav-txt-clr: var(--second-clr);
    --bg-clr: #F5FDFF;
    --product-bg-clr: #F5FDFF;
    --bx-shadow-clr: #2d425333;
}

/* ------------ BASE ------------ */
ul {
    list-style: none;
}
img {
    height: auto;
    width: 100%;
}
.pos-abs-center {
    position: absolute;
}
/* -- transitions -- */
.clr-transition {
    transition: color 1000ms;
}
.bg-clr__transition {
    transition: background-color 1s;
}
/* ================= */
/* -- buttons -- */
.button {
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    color: var(--text-clr-bg);
}
.btn-primary {
    background-color: var(--primary-clr);
}
.btn-second-alt {
    background-color: transparent;
    border: thin solid var(--text-clr);
}
/* ================= */

.container {
    padding: 1.8rem 3rem;
}
@media screen and (max-width: 768px) {
    .container {
        padding: 1rem;
    }
}

body {
    font-family: 'Pompiere', cursive;
    font-size: 1.2rem;
    color: var(--text-clr);
    background-color: var(--bg-clr);
    transition: background-color 1000ms;
}

/* ----------------------------- */

/* -------- HEADER -------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--nav-txt-clr);
    font-size: 2.3rem;
    text-decoration: none;
}
.nav-items {
    display: flex;
}
.nav-item {
    margin-right: 3rem;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    color: var(--nav-txt-clr);
    text-decoration: none;
    font-size: 1.7rem;
    position: relative;
}
.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: .1rem;
    background-color: var(--primary-clr-alt);
    bottom: 0;
    transform: scaleX(0);
    transition: 150ms transform;
}
.nav-link:hover::before {
    transform: scaleX(1);
}
@media screen and (max-width: 768px) {
    .logo {
        font-size: 3rem;
    }
    .theme-toggler {
        color: var(--text-clr-bg);
    }
    .nav-items {
        flex-direction: column;
    }
    .nav-item {
        margin: .5rem 0;
    }
    .nav-link {
        color: var(--text-clr-bg);
        font-size: 2rem;
    }
    .navbar {
        background-color: var(--second-clr);
        position: absolute;
        padding: .5rem 5rem 1rem 1rem;
        border-radius: .5rem 0 0 .5rem;
        top: 5rem;
        right: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms;
    }
    .show-nav {
        transform: scaleX(1);
    }
}
/* ----- ----------- ------ */
.social-links {
    display: flex;
    align-items: center;
}
.social-links ul {
    display: flex;
}
.social-links ul li {
    margin-right: 1.5rem;
}
.social-links ul li:last-child {
    margin-right: 0;
}
.nav-icon {
    cursor: pointer;
    color: var(--nav-txt-clr);
    font-size: 1.4rem;
}
.line-divider {
    height: .05rem;
    width: 1rem;
    background-color: var(--nav-txt-clr);
    margin: 0 .5rem;
    border-radius: 10rem;
}
.theme-togglers {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.theme-toggler {
    color: var(--nav-txt-clr);
    font-size: 1.5rem;
    transition: transform 300ms;
}
.theme-toggler:hover {
    transform: rotate(60deg);
}
.bxs-moon {
    display: none;
}
.menu-togglers {
    cursor: pointer;
    display: none;
}
.menu-toggle {
    color: var(--nav-txt-clr);
    font-size: 3rem;
}
.bx-menu,
.bx-x {
    pointer-events: none;
}
.bx-x {
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}
@media screen and (max-width: 768px) {
    .social-links {
        display: none;
    }
    .menu-togglers {
        display: block;
    }
}

/* -------- SECTION ONE: Hero section -------- */
.section-one {
    height: 81.5vh;
    box-shadow: 0 -5px 5px 0 var(--bx-shadow-clr) inset;
}
.hook-container {
    margin-top: 2rem;
}
@media screen and (max-width: 348px) {
    .hook-container {
        margin-top: 0rem;
    }
}
.hook-title {
    font-size: 4rem;
    line-height: 117%;
    max-width: 50rem;
    color: var(--text-clr);
    transition: font-size 1000ms;
}
.hook-sub_title {
    font-size: 30px;
    line-height: 157.5%;
    color: var(--text-clr);
}
@media screen and (min-width: 414px) {
    .hook-title {
        font-size: 92px;
    }
}
.hero-btns-container {
    margin-top: 2rem;
    opacity: 0;
}
.in-btn-icon {
    font-size: 1rem;
}
.btn-hero {
    border-radius: 50px;
    font-size: .8rem;
    transition: box-shadow 300ms;
    margin-right: .1rem;
}
@media screen and (min-width: 358px) {
    .btn-hero {
        margin-right: 2rem;
        font-size: .9rem;
    }
}
.btn-hero:last-child {
    margin-right: 0;
}
.btn-hero:hover {
    box-shadow: 5px 5px var(--text-clr);
}
.hero-lady-img {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    transition: width 1000ms;
}
@media screen and (min-width: 546px) {
    .hero-lady-img {
        display: block;
        width: 250px;
    }
}
@media screen and (min-width: 654px) {
    .hero-lady-img {
        width: 320px;
    }
}
@media screen and (min-width: 980px) {
    .hero-lady-img {
        width: 400px;
    }
}
.hand-hole-cake-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    transition: width 1000ms;
}
@media screen and (max-width: 414px) {
    .hand-hole-cake-img {
        display: none;
    }
}
@media screen and (max-height: 656px) {
    .hand-hole-cake-img {
        display: none;
    }
}
@media screen and (min-width: 546px) {
    .hand-hole-cake-img {
        width: 120px;
    }
}

/* -------- SECTION TWO: Product section -------- */
.section-two {
    height: 100vh;
    position: relative;
}
.s-two-upper-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.s-two-slogan {
    font-size: 1.5rem;
    max-width: 15rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}
.s-two-definition {
    font-size: 1.5rem;
    max-width: 32rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}


.s-two-products {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.product {
    cursor: pointer;
    /* From https://css.glass */
    background: rgba(54, 79, 99, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    width: calc(365 * 0.06rem);
    height: calc(421 * 0.06rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 1000ms;
}
.product:hover {
    transform: rotateY(360deg);
}
.product img {
    max-width: 55%;
}
.product-one img {
    transform: rotate(30deg);
}
.product-two img {
    max-width: 80%;
}
.product-three img {
    max-width: 100%;
}
.product .price {
    top: 0;
    left: 0;
    margin: 1rem;
}

.product .buy-btn {
    cursor: pointer;
    bottom: 0;
    left: -.1rem;
    margin: 0 0 .5rem 0;
    padding: .5rem 2.5rem .5rem 1rem;
    color: var(--text-clr-bg);
    background-color: var(--primary-clr);
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.product .buy-btn:hover {
    text-decoration: underline;
}
.product .name {
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: var(--text-clr);
}
.product .name b {
    color: var(--primary-clr-alt);
}